*{
    box-sizing: border-box;
}

main{
    width: 85%;
    margin: 0 auto;
}

.nav{
    background-color: rgb(107, 117, 125);
}

.nav-item a{
    color: white;
}

header{
    background-image: url("bg.jpg");
    padding: 90px;
}

header h1{
    color: white;
    font-size: 30px;
    position: absolute;
    left: 7.5%;
    top: 28%;
}

.row img{
    width: 100%;
    height: 100%;
}

.card{
    margin-top: 60px;
    padding: 0;
    height: 89%;
}

.card img{
    width: 100%;
    height: 100%;
}

footer{
    padding: 40px;
}